html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#headerDiv{
    border-style: solid;
    border-color: #c9c5c5;
    border-width: 0 0 0 5px;
    padding: 7px;
    margin: 5px;
    font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}